<!-- Vista para el listado de reservas de un viaje -->


<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/main.css">
    <title>Title</title>
</head>
<body>
	<div th:unless="${reservas.isEmpty}">
<div class="section">
    <h3><strong>Listado de Reservas a viaje <a 	th:text="${viaje.getCodViaje()}"></a> </strong></h3>
</div>
<table class="reservas">
    <tr>
        <th>Cod. Reserva</th>
        <th>Usuario</th>
        <th>Plazas solicitadas</th>
        <th>Fecha y hora de salida</th>
		<th>Acciones</th>
    </tr>
    <tr th:each="reserva: ${reservas}">
        <td th:text="${reserva.getCodigoReserva()}"></td>
        <td th:text="${reserva.getUsuario()}"></td>
        <td th:text="${reserva.getPlazasSolicitadas()}"></td>
        <td th:text="${#temporals.format(reserva.getFechaRealizacion(), 'dd-MM-yyyy ''a las'' HH:mm')}"></td>
		<td>
		
					<a th:href="@{/reserva(codReserva=${reserva.getCodigoReserva()},(codViaje=${viaje.getCodViaje()}))}" style="text-decoration:none;">Ver detalle /</a>
					<a th:href="@{/reserva-cancel(codReserva=${reserva.getCodigoReserva()})}" style="text-decoration:none;">Cancelar Reserva</a>
				</td>
    </tr>
	
</table>
</div>
<div th:if="${reservas.isEmpty}">
		<p>No existen reservas para este viaje.</p>
	</div>
<button onclick="location.href = '/viajes';" id="boton" style="align-self: center;" >Volver al listado de viajes</button>
</body>
</html>