<!-- Vista con el formulario de creación de una reserva -->
<!DOCTYPE html>
<html lang="sn">
<head>
    <meta charset="UTF-8">
	<link rel="stylesheet" href="/css/main.css">
    <title>Gestor Reservas</title>
</head>
<body>
	<div class="errores" th:if="${errores}">
			<p th:each="item: ${errores}">
				<strong th:text="${item.key}"></strong>:
				<span th:text="${item.value}"></span>
			</p>
		</div>
<form action="/reserva-add" method="post">
	<div class="section header app-name">
	    <h3><strong>Añadir Reserva a viaje <a th:text="${viaje.getCodViaje()}"></a></strong></h3>
	</div>
	
    <label>Nombre: <input name="user" type="text" placeholder="Instroduzca un nombre" required></label><br>
   <label>Plazas solizitadas: <input name="cantidad" type="number" 	step="1"></label><br>
   <input name="codViaje" type="number" th:value="${viaje.getCodViaje()}" hidden></label><br>
    <input type="submit" value="añadir" required> 
	<input type="submit" value="Volver al listado"  onclick="window.location='/viajes';"required> 
	<br>
</form>
</body>
</html>